## VHUB Data Analytics Assignment

1. How many job titles are present for each domain?
2. What is the average projected growth across all job titles?
3. Find the top 5 job titles with the highest projected growth by 2030.
4. Which domain has the highest average projected growth by 2030?
5. What other interesting insights can you derive from the dataset?

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
data=pd.read_csv("it_job_prediction.csv")
data.head()

                     Domain   Job Title Projected Growth by 2030
0    Augmented Reality (AR)    Engineer                      77%
1               5G Networks   Developer                      70%
2             Cybersecurity    Engineer                      36%
3  Internet of Things (IoT)  Consultant                     138%
4             Cybersecurity     Analyst                      86%

In [ ]:
data.isnull().sum()

Domain                      0
Job Title                   0
Projected Growth by 2030    0
dtype: int64

In [ ]:
data.describe()

                 Domain Job Title Projected Growth by 2030
count             35677     35677                    35677
unique               13         6                       72
top     Cloud Computing   Analyst                      77%
freq               2784      6037                     1444

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35677 entries, 0 to 35676
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Domain                    35677 non-null  object
 1   Job Title                 35677 non-null  object
 2   Projected Growth by 2030  35677 non-null  object
dtypes: object(3)
memory usage: 836.3+ KB

In [ ]:
data['Projected Growth by 2030']=pd.to_numeric(data['Projected Growth by 2030'].str.replace('%',''))

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35677 entries, 0 to 35676
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Domain                    35677 non-null  object
 1   Job Title                 35677 non-null  object
 2   Projected Growth by 2030  35677 non-null  int64
dtypes: int64(1), object(2)
memory usage: 836.3+ KB

1. How many job titles are present for each domain?

In [ ]:
one=data.groupby('Domain')['Job Title'].nunique()
print(one)

Domain
5G Networks                 6
Artificial Intelligence     6
Augmented Reality (AR)      6
Blockchain                  6
Cloud Computing             6
Cybersecurity               6
Data Analytics              6
DevOps                      6
Edge Computing              6
Internet of Things (IoT)    6
Quantum Computing           6
Robotics                    6
Virtual Reality (VR)        6
Name: Job Title, dtype: int64

2. What is the average projected growth across all job titles?

In [ ]:
second=data.groupby('Job Title')['Projected Growth by 2030'].mean()
print(second)

Job Title
Analyst       78.785489
Architect     79.105450
Consultant    78.788121
Developer     79.359346
Engineer      78.765766
Manager       78.315534
Name: Projected Growth by 2030, dtype: float64

3. Find the top 5 job titles with the highest projected growth by 2030.

In [ ]:
third=data.sort_values(by='Projected Growth by 2030', ascending=False).head(5)
print(third)

                         Domain   Job Title  Projected Growth by 2030
15078  Internet of Things (IoT)   Architect                       149
7757   Internet of Things (IoT)    Engineer                       149
34095            Edge Computing  Consultant                       149
5295                5G Networks     Manager                       149
31517                  Robotics  Consultant                       149

4. Which domain has the highest average projected growth by 2030?

In [ ]:
fourth=second.idxmax()
print(fourth)

Developer

5. What other interesting insights can you derive from the dataset?

In [ ]:
fifth=second.idxmin()
print(f'Lowest Projected Growth By 2030 is {fifth}')

Lowest Projected Growth By 2030 is Manager